:root {
    --bg: #0f172a;
    --panel: #020617;
    --text: #e5e7eb;
    --accent: #7c3aed;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #f9fafb;
        --panel: #ffffff;
        --text: #111827;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    height: 100vh;
}

/* TOPO */
.topbar {
    height: 55px;
    background: var(--panel);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-weight: bold;
    color: var(--accent);
}

.user-circle {
    width: 36px;
    height: 36px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}

/* LAYOUT */
.container {
    display: flex;
    height: calc(100vh - 55px);
}

.sidebar {
    width: 240px;
    background: var(--panel);
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* CHAT */
.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.msg {
    max-width: 60%;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.user {
    background: var(--accent);
    color: white;
    margin-left: auto;
}

.bot {
    background: #1f2933;
}

.input-area {
    padding: 15px;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.modal-box {
    background: var(--panel);
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    position: relative;
}

.modal-box input {
    margin-bottom: 10px;
}

.modal-box button:not(.close-btn) {
    width: 100%;
    padding: 12px;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 8px;
}


/* BOTÃO X */
.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    color: var(--text);
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    width: auto;
    height: auto;
}


.switch {
    margin-top: 10px;
    font-size: 12px;
}

.switch span {
    color: var(--accent);
    cursor: pointer;
}
