body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

header {
  height: 55px;
  background: #4f46e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

#userIcon {
  width: 38px;
  height: 38px;
  background: #999;
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.modal-box {
  background: #1e1e1e;
  width: 320px;
  padding: 25px;
  margin: 100px auto;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

.modal input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.modal button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  border: none;
  color: white;
  cursor: pointer;
}

#toggle {
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
}
